


body {
  font-family: sans-serif;
  background-color: #EEEDED;
  color: #67ADE3;
}



h2 {
  font-size: 3rem;
}


/* NAVBAR */

.navbar {
  background-color: rgba(0, 232, 168, 1);
  height: 2rem;
}


#home .navbar-toggler-icon {
  background-color: #FF5E5E;
  font-size: 1.5rem;
border-radius: 5px;
margin: 0 1rem 0 2rem;
}

.navbar2 {
  height: 5rem;
}

.sign-up-li {
  list-style-type: none;
}


.bi-cart3 {
  font-size: 4rem;
  color: #fff;
}

.nav-search-bar, .navbar .btn-light {
  width: 7rem;
  font-size: 1rem;
  list-style-type: none;
margin: 1rem 1rem 0 0;
}

.navbar .btn-light {
height: 1rem;
padding: 0 0 1.3rem;
}

@media (max-width: 500px) {
  .bi-cart3 {
    font-size: 2rem;
    color: #fff;
  }

  .nav-search-bar, .navbar .btn-light {
    width: 4rem;
    font-size: 0.6rem;
  margin: 1rem 1rem 0 0;
  }

  .navbar .btn-light {
  height: 1rem;
  padding: 0 0 1.3rem;
  }

  .navbar-toggler-icon {
    background-color: #FF5E5E;
    font-size: 1rem;
  border-radius: 5px;
  margin: 0 0.5rem 0 1rem;
  }
}


/* Footer */

#footer {
  background-color: rgb(248, 249, 250);
  text-align: center;
  margin-top: 3rem;
  padding: 1.2rem 0 0.2rem 0;
}


.footer-text {
  font-size: 1.3rem;
}


.footer-img {
  font-size: 1.2rem;
  padding: 0 20px;
  color: rgba(12, 235, 235, 1);
}

.footer-img:hover {
  color: rgba(36, 196, 196, 1);
}

.foot-span::after {
  content: "Bootstrap";
  color: rgba(12, 235, 235, 1);
  font-weight: bold;
}

#home-footer {
  text-align: center;
  margin-top: 0;
  padding: 1.2rem 0 0.2rem 0;
  background-color: rgb(248, 249, 250);
}



/* HOMEPAGE CAROUSEL */

#carouselExampleDark {
  margin-top: 3rem;
}

.home-carousel-img {
  width: 200px;
  height: 120px;
  border-radius: 15px;
}


.webpage-body {
  margin: auto 5%;
}

.card {
  width: 20rem;
}


.offer-img {
  width: 7rem;
  height: 5rem;
}




#697184
#388087
#6FB3B8
#BADFE7
#9AA4EC
#6474E5
#7A77B9
#286FB4
#DF4C73
#437FC7
#6DAFFE
#322885
#4E53A5
#223CCF
#161B7F
#O683D7
#210A72
#36A1D4
